.sidebar {
    background-color: #1e2a3a;
    position: fixed;
    width: 320px;
    height: 150vh;
    padding: 20px;
}

body {
    background-color: #111821;
}

.sidebar a {
    padding: 15px;
    text-align: center;
    text-decoration: none;
    color: white;
    display: block;
    transition: 0.3s;
    font-family: 'Times New Roman';
    font-style: italic;
}



.content {
    padding: 20px;
    background-color: #111821;
    color: White;
    font-family: 'Times New Roman';
    font-style: italic;
    height: 150vh;
    
}

.profile-name {
    color: white;
    font-size: 18px;
    font-family: 'Times New Roman';
    font-style: italic;
    font-weight: bold;
    margin-top: 10px;
}

.profile-description {
    font-family: 'Times New Roman';
    font-style: italic;
    font-size: 16px;
    line-height: 1.5;
    margin-top: 2rem;
    color: #ffffff;
}

.nav-link:hover i, .nav-link:hover span {
    color: #54b689;
}


.social-icons {
    display: flex;
    align-items: center;
}

.social-icon {
    margin-right: 10px; 
    font-size: 24px; 
}

.social-icon-blue i {
    color: #54b689; 
}

::-webkit-scrollbar {
    width: 10px; 
}

::-webkit-scrollbar-track {
    background-color: #111821
}

::-webkit-scrollbar-thumb {
    background-color: #111821; 
    border-radius: 5px; 
}



.vertical-icons {
    display: flex;
    flex-direction: row; 
    align-items: center; 
}

.vertical-icons a {
    margin: 15px;
    color: #616b78; 
}

.horizontal-icons {
    display: flex;
    justify-content: center; 
    margin-top: 20px; 
}

.horizontal-icons a {
    margin: 5px;
}

.bottom-icons {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #f5f5f5; 
    padding: 10px 0; 
}

footer {
    background-color: #111821;
    height: 200px;
    font-family: 'Times New Roman';
    font-style: italic;
}

.oval-button {
    background-color: #54b689;
    color: white;
    border: none;
    border-radius: 50px; 
    padding: 10px 20px; 
    text-decoration: none;
    transition: background-color 0.3s; 
}

.custom-button {
    color: white;
}

.custom-button.portfolio {
    background-color: #54b689;
}

.custom-button.portfolio:active {
    background-color: #ff7200;
}

.custom-button.resume {
    background-color: #54b689;
}

.custom-button.resume:active {
    background-color: #ff7200;
}

.sidebar {
    overflow-y: auto;
    overflow-x: hidden; 
    max-height: 100vh; 
}

::-webkit-scrollbar-thumb {
    background-color: #1e2a3a;
}

::-webkit-scrollbar-track {
    background-color: transparent; 
}